.container_main{
    width: 100%;
    height: 100vh;
    background-image: url(https://tse2.mm.bing.net/th?id=OIP.h3U-yGZNxT8PkF5vlRnnxgHaEK&pid=Api&P=0&h=180);
    background-size: 100%;
    background-repeat: no-repeat;
}
.box_menu{
    
}
.box_menu ul{
    display: inline-flex;
    list-style: none;
    color: #fff;
}
.box_menu ul li{
    width: 120px;
    margin: 15px;
    padding: 15px;
}
.box_menu ul li a{
    text-decoration: none;
}
.active, .box_menu ul li:hover{
    
    border-radius: 3px;
}
.box_subMenu{
    display: none;
}
.box_menu ul li:hover .box_subMenu{
    display: block;
    position: absolute;
    background-color: aquamarine;
    margin-top: 15px;
    margin-left: -15px;
}
.box_menu ul li:hover .box_subMenu ul{
    display: block;
    margin: 0px;
    padding: 0px;
}
.box_menu ul li:hover .box_subMenu ul li{
   width: 220px;
   text-align: left;
   border-bottom: 1px dotted #999;
   background: transparent;
   padding: 15px;
   margin: 10px;
}
.box_menu ul li:hover .box_subMenu ul li:last-child{
    border-bottom: none;
}
.box_subMenu-2{
    display: none;
}
.sub_menuHover:hover .box_subMenu-2{
    display: block;
    position: absolute;
    margin-top: -40px;
    margin-left: 130px;
    background: #999;
}
.a-div{
    font-size: 25px;
    color: black;
}
.a-div:hover{
    color: red;
    text-decoration: underline;
}
